body {
  background-color: #f2f2f2;
/*background-image: url('/img/bg.png')*/}

a {
  color: #FF1563 !important;}

#banana {
  background-image: url('/img/banana_tiny.png');
  height: 31px;
  width: 20px;}

#banana:hover {
  background-image: url('/img/banana_flip.png');
  height: 31px;
  width: 20px;}

.head {
  background-color: #FF1563;}

ul.navigation {
  width: 570px;
  padding: 15px;
  margin: 0px auto 0px auto;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000}

.main {
  background color: #f2f2f2;
  border: 1px solid black;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;}
}

.padding {
  margin: 10px;
  padding: 15px;}

.margin {
  margin: 10px;}

.center {
  text-align: center;}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;}

img {
  max-width: 100%;
  height: auto;}

.glyphicon {
  margin-right: 5px;
  margin-left: 5px;}

#type, #region {
  background-color: #;}
