body {
  background-color: #FFE135;}

a {
  color: #35B8FF !important;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;}

a:hover {
  background-color: #35B8FF !important;
  text-transform: uppercase;
  color: #fff !important;}


#banana {
  background-image: url('/img/banana_tiny.png');
  height: 31px;
  width: 20px;}

#banana:hover {
  background-image: url('/img/banana_flip.png');
  height: 31px;
  width: 20px;}

.head {
  background-color: #35B8FF;}

ul.navigation {
  width: 570px;
  padding: 15px;
  margin: 0px auto 0px auto;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000}

#main {
  background-color: #fff;
  border: 3px solid #35B8FF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding-bottom: 100%;
  margin-bottom: -100%;}

.center {
  text-align: center;}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;}

img {
  max-width: 100%;
  height: auto;}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #35B8FF;
  border-color: #35B8FF;}

.btn  {
  background-color: #FF1563;
  border-color: #FF1563;
  color: white;}

.glyphicon {
  margin-right: 5px;
  margin-left: 5px;}

#question, #answer {
  background-color: #;}

.well {
  background-color: #35B8FF;}

h2 {
  color: white;
  text-align: center;}
