<h1>Add a category</h1>

<p>Add a category for this joke here:</p>

<form action="/categories" method="post">
  <label for="type">Category type</label>
  <input id="type" type="type" type="text">
  <button type="submit" class="btn btn-success">Add category</button>
</form>
