<!DOCTYPE html>
<html>
<head>
  <title>shoebox</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/css/app.css'>
  <link rel='stylesheet' media='(max-width:600px)' href='/css/app-small.css'>
  <link rel='stylesheet' media='(min-width:601px)' href='/css/app-large.css'>
  <link rel='icon' type='image/x-icon' href='/img/banana_tiny.png' />
</head>
<body>
  <div class='container'>

    <!-- One version of nav bar -->
    <div class='collapse navbar-collapse'>
      <ul class='nav nav-tabs'>
        <li><a href='/' alt='home'><img alt='shoebox' src = '/img/banana_small.png'></a></li>
        <li><a href='/jokes'>Jokes</a></li>
        <li><a href='/categories'>Categories</a></li>
      </ul>
    </div>

    <!-- Another version of nav bar -->
    <div>
      <a href="/" alt='home'> <img class='center' src = '/img/leaderboard_nobg.png'></a>
    </div>

    <ul id='navigation'>
      <li><a href='/' alt='home'><img alt='shoebox' src = '/img/banana_small.png'></a></li>
      <li><a href='/jokes'>Jokes</a></li>
      <li><a href='/categories'>Categories</a></li>
    </ul>

  #parse( $template )

  </div>
</body>
</html>
