<!DOCTYPE html>
<html>

<head>
  <title>Knee Slappers</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/css/app.css'>
  <link rel='stylesheet' media='(min-width:601px)' href='/css/app-large.css'>
  <link rel='icon' type='image/x-icon' href='/img/banana_tiny.png' />
</head>

<body>
  <div class='head'>
    <a href="/" alt='home'> <img class='center' src = '/img/leaderboard_w.png'></a>
  </div>

  <!-- nav bar -->
  <div class='center'>
    <div class='collapse navbar-collapse'>
      <ul class='nav nav-tabs'>
        <li><a href='/' alt='home'><div id='banana'></div></a></li>
        <li><a href='/categories'>Categories</a></li>
        <li><a href='/jokes'>List of Jokes</a></li>
        <li>
          <!-- search form -->
          <form action="/search/results" class="navbar-form navbar-left" role="search">
                 <div class="form-group">
                   <input type="text" id="main-search" name="main-search" class="form-control" placeholder="Search Site">
                 </div>
                 <button type="submit" class="btn btn-primary">Search</button>
          </form></li>
      </ul>
    </div>
  </div>

<hr/>

  <div class='container' id='main'>

    #parse( $template )

  </div>
</body>
